{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}
    <div class="d-flex pt-2">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">File</th>
                    <th scope="col">Title</th>
                    <th scope="col">Size</th>
                    <th scope="col">Format</th>
                    <th scope="col">Audio Codec</th>
                    <th scope="col">Sample Format</th>
                    <th scope="col">Sample Rate</th>
                    <th scope="col">Channels</th>
                    <th scope="col">Channel Layout</th>
                    <th scope="col">Bitrate</th>
                    <th scope="col">Last Updated</th>
                </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.media_file_path }}</td>
                    <td>{{ record.media_title }}</td>
                    <td>{{ record.fsize_pretty() }}</td>
                    <td>{{ record.media_format }}</td>
                    <td>{{ record.media_a_codec }}</td>
                    <td>{{ record.media_a_sample_fmt }}</td>
                    <td>{{ record.media_a_sample_rate }}</td>
                    <td>{{ record.media_a_channels }}</td>
                    <td>{{ record.media_a_channel_layout }}</td>
                    <td>{{ record.media_a_bitrate }}</td>
                    <td>{{ record.last_updated(formatted=True) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}