{% extends "base.html" %}
{% set active_page = 'queue' %}
{% block content %}
    <div class="d-flex pt-2">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">File</th>
                    <th scope="col">Output File</th>
                    <th scope="col">Params</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date Added</th>
                </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.media_file_path }}</td>
                    <td>{{ record.media_output_file_path }}</td>
                    <td>{{ record.media_output_ffmpeg_params }}</td>
                    {% set badge = 'warning' %}
                    {% if record.media_converted %}
                    {%  set badge = 'success' %}
                    {% endif %}
                    <td><span class="badge badge-{{ badge }}">{{ record.conversion_status() }}</span></td>
                    <td>{{ record.created_date_local_tz() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}