{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_field_checkbox, render_form_header, render_csrf %}
{% set active_page = 'settings' %}

{% block content %}
    <div class="d-flex">
        <div class="col-md-4 col-sm-4 col-6">
            <form action="{{ url_for('settings') }}" method="post" novalidate>
                {{ render_csrf(form.csrf_token) }}
                {{ render_field(form.ui_items_per_page) }}
                {{ render_field(form.ui_time_zone) }}
                {{ render_form_header('UI') }}
                {{ render_field(form.media_folder) }}
                {{ render_field_checkbox(form.media_scan_recursively) }}
                {{ render_form_header('Database') }}
                {{ render_field(form.dbhost) }}
                {{ render_field(form.dbport) }}
                {{ render_field(form.dbname) }}
                {{ render_field(form.dbuser) }}
                {{ render_field(form.dbpass) }}
                {{ render_form_header('Email Alerts') }}
                {{ render_field_checkbox(form.alerts_enabled) }}
                {{ render_field(form.alerts_from_address) }}
                {{ render_field(form.alerts_to_address) }}
                {{ render_field(form.alerts_smtp_host) }}
                {{ render_field(form.alerts_smtp_port) }}
                {{ render_field(form.alerts_smtp_user) }}
                {{ render_field(form.alerts_smtp_pass) }}
                {{ render_field_checkbox(form.alerts_smtp_tls) }}
                <span id='spinner'></span>
                {{ form.save(class_="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}